.toppanel {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    top: -150px;
    transition: 0.5s;
    &.active {
        top: 0px;
    }
    >div {
        height: 50px;
        width: 125px;
        background-color: black;
        &:nth-child(1) {
            box-sizing: border-box;
            border-radius: 0px 0px 25px 0px;
            padding: 2px;
            display: flex;
            >.bombimg {
                width: 46px;
                height: 46px;
                background-image: url('../../assets/bombimg.png');
                background-position: center;
                background-size: cover;
                border-radius: 0;
                margin-right: 10px;
            }
            >p {
                width: 46px;
                height: 46px;
                color: white;
                line-height: 46px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                text-align: center;
            }
        }
        &:nth-child(2) {
            box-sizing: border-box;
            border-radius: 0px 0px 0px 25px;
            padding: 0 20px;
            >p {
                color: white;
                line-height: 50px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                //letter-spacing: 1px;
            }
        }
    }
    .exit {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 60px;
        left: 10px;
        border-radius: 50%;
        background-image: url('../../assets/exitact.png');
        background-position: center;
        background-size: contain;
        &:hover {
            transition: background-image 0.3s;
            background-image: url('../../assets/exit.png');
        }
    }
    .restart {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 60px;
        right: 10px;
        border-radius: 50%;
        background-image: url('../../assets/restart.png');
        background-position: center;
        background-size: contain;
        &.active {
            transition: transform 0.3s;
            transform: rotate(360deg);
        }
    }
}